:host {
  --slds-c-accordion-summary-color-background: rgb(243, 242, 242);
}
.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: large;
  font-weight: bold;
}

.header-title {
  margin: 0;
}

.flex{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.background{
  background-color: rgb(243, 242, 242);
}
.custom-class{
  display: block;
  float: right;
  z-index: 100;
}